
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>excel raporlari sayfasi</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">statik excel raporu</a>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-info">tur rotalari excel raporu</a>
