@model CreateGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>yeni rehber ekleme sayfasi</h1>
<form method="post">
<label>rehber adi</label>
<input type="text" class="form-control" asp-for="Name" />
<br />
<label>aciklama</label>
<input type="text" class="form-control" asp-for="Description"/>
<br />
<button class="btn btn-light">ekle</button>

</form>
