@model GetGuideByIdQueryResult
@{
    ViewData["Title"] = "GetGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>rehber bilgi duzenleme sayfasi</h1>

<form method="post">
    <input type="hidden" asp-for="GuideId" />
    <label>rehber adi</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>aciklama</label>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn-outline-dark">guncelle</button>
</form>