
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>booking oteller icin sehir id bilgisi getirme</h1>
<br />
<form method="post">
<label>sehir adi</label>
<input type="text" class="form-control"name="p" />
<br />
<button class="btn btn-outline-primary">sehir id getir</button>
</form>