﻿<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g10.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>3 gece, 4 gun sonbahar karadeniz</h4>
                                <p>2850₺'den baslayan fiyatlar.</p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g9.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>3 gece, 4 gun misir</h4>
                                        <p>1500₺'den baslayan fiyatlar.</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g8.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>2 gece, 3 gun roma</h4>
                                        <p>675$'dan baslayan fiyatlar.</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g7.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>5 gece, 6 gun maldivler</h4>
                                        <p>12.000₺'den baslayan fiyatlar.</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g6.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>4 gece, 5 gun isvicre turu</h4>
                                        <p>1280€'dan baslayan fiyatlar.</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>