@using EntityLayer.Concrete
@model List<Destination>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>tur rotalari</h1>
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>sehir</th>
		<th>fiyat</th>
		<th>kapasite</th>
		<th>sitede gor</th>
		<th>sil</th>
		<th>guncelle</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.DestinationId</td>
			<td>@item.City</td>
			<td>@item.Price</td>
			<td>@item.Capacity</td>
			<td><a href="/Destination/DestinationDetails/@item.DestinationId" class="btn btn-outline-info">sitede gor</a></td>
			<td><a href="/Admin/Destination/DeleteDestination/@item.DestinationId" class="btn btn-outline-danger">sil</a></td>
			<td><a href="/Admin/Destination/UpdateDestination/@item.DestinationId" class="btn btn-outline-success">guncelle</a></td>
		</tr>
	}
</table>
<a href="/Admin/Destination/AddDestination/" class="btn btn-primary">yeni tur rotasi</a>

