<ul class="menu-inner py-1">
	<!-- Dashboard -->
	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-home-circle"></i>
			<div data-i18n="Analytics">Dashboard</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Admin/Comment/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-comment"></i>
			<div data-i18n="Analytics">yorumlar</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Admin/Destination/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-car"></i>
			<div data-i18n="Analytics">rotalar</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Admin/User/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-user"></i>
			<div data-i18n="Analytics">misafirler</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Admin/ContactUs/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-chat"></i>
			<div data-i18n="Analytics">mesajlar</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Admin/Guide/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-book"></i>
			<div data-i18n="Analytics">rehberlerimiz</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Excel/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-report"></i>
			<div data-i18n="Analytics">excel raporlari</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/PdfReport/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-report"></i>
			<div data-i18n="Analytics">pdf raporlari</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Admin/Mail/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-mail-send"></i>
			<div data-i18n="Analytics">mail gonder</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-pin"></i>
			<div data-i18n="Analytics">one cikanlar</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-bookmark"></i>
			<div data-i18n="Analytics">referanslar</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-detail"></i>
			<div data-i18n="Analytics">alt hakkinda</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-flag"></i>
			<div data-i18n="Analytics">rezervasyonlar</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bxl-mailchimp"></i>
			<div data-i18n="Analytics">mail listesi</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-star"></i>
			<div data-i18n="Analytics">one cikanlar 2</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-key"></i>
			<div data-i18n="Analytics">sifre islemleri</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="/Admin/Role/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-user-voice"></i>
			<div data-i18n="Analytics">rol islemleri</div>
		</a>
	</li>

	<li class="menu-item">
		<a href="index.html" class="menu-link">
			<i class="menu-icon tf-icons bx bx-exit"></i>
			<div data-i18n="Analytics">cikis yap</div>
		</a>
	</li>
</ul>
